@import "tailwindcss";

@theme {
  --animate-gradient: gradient 8s linear infinite;
  --animate-float: float 6s ease-in-out infinite;
  
  @keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
}

body {
  background-color: #020617;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}